.native_select::before{
    border: none !important;
}

.native_select::before{
    border: none !important;
}
.native_select::after{
      border-bottom: 2px solid #0ac6a0 !important;
}

.native_select:focus {
    outline: 5px dotted #0ac6a0;
 }